### Gradle ###
.gradle
.kotlin
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
*.iws
*.iml
*.ipr
.idea/
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Mac OS ###
.DS_Store

### Storyboard ###
.storyboard/
